[submodule "deps/first/Unreal"]
	path = deps/first/Unreal
	url = git@github.com:Lyrth/UEPseudo.git
[submodule "deps/first/patternsleuth"]
	path = deps/first/patternsleuth
	url = git@github.com:trumank/patternsleuth.git
[submodule "deps/first/LuaRaw/LuaJIT"]
	path = deps/first/LuaRaw/LuaJIT
	url = git@github.com:LuaJIT/LuaJIT.git
